img {
    height: 300px;
}
 

/* {add code here to change the color and font family of your name/title */
h1 {
    color:orange
}

/* Bonus: change the color of your list elements */
li {
    color: orange;
}
 
    